<%- include('partials/header') %>
<div class="page-main">
    <main class="page-content page-content--mono">
        <h1 class="page-title"> <%= seoTitle %></h1>
    <section class="segment">
        <div class="segment-title segment-title--action">
            <h2>Tous les produits</h2>
            <label class="small-hidden">
                Produits par ligne
                <select>
                    <option value="2">2</option>
                    <option selected value="4">4</option>
                </select>
            </label>
        </div>
        <div class="segment-cards segment-cards--4">
            <article class="card">
                <img class="card-img" src="./img/products/abricots.jpg" alt="">
                <h3 class="card-title">Abricots</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Abricots">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/asperges.jpg" alt="">
                <h3 class="card-title">Asperges</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Asperges">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/aubergines.jpg"
                    alt="">
                <h3 class="card-title">Aubergines</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Aubergines">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/carottes.jpg" alt="">
                <h3 class="card-title">Carottes</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Carottes">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/citrouilles.jpg"
                    alt="">
                <h3 class="card-title">Citrouilles</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Citrouilles">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/clementines.jpg"
                    alt="">
                <h3 class="card-title">Clémentines</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Clémentines">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/fraises.jpg" alt="">
                <h3 class="card-title">Fraises</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Fraises">Voir le détail</a>
            </article>
            <article class="card">
                <img class="card-img" src="./img/products/framboises.jpg"
                    alt="">
                <h3 class="card-title">Framboises</h3>
                <a class="card-action btn" href="" aria-label="Voir le détail du
                    produit Framboises">Voir le détail</a>
            </article>
        </div>
        <%- include('partials/footer') %>